.status_bar {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  padding: 0.5rem 3rem 1.5rem;

  color: black;

  border-style: solid;
  border-width: 2px;
  border-radius: 1rem;

  .title {
    display: inline;
    text-align: center;
    vertical-align: top;
  }

  .info {
    display: flex;
    flex-direction: row;
    align-items: center;

    p {
      padding-left: 1rem;
    }

    .dot {
      height: 20px;
      width: 20px;
      background-color: #bbb;
      border-radius: 50%;
    }
  }
}
